# Core Libraries
torch>=2.1.0
torchvision>=0.16.0
torchaudio

# Model & Training
transformers>=4.36.0
diffusers>=0.25.0
accelerate>=0.24.0
peft>=0.7.1
optree>=0.13.0

# Image/Video Processing
opencv-python
Pillow
moviepy

# Flask API
flask
flask-cors
